Flask==2.3.3
spacy==3.7.2
gnews==0.3.0
newspaper3k==0.2.8
fpdf==1.7.2
requests==2.31.0
urllib3==2.0.7
newsapi-python==0.2.7
lxml==4.9.3
beautifulsoup4==4.12.2
python-docx
pytesseract
Pillow
transformers
torch
nltk
scikit-learn
numpy
reportlab